*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
}

h1{
    font-size:42px;
    margin-bottom:10px;
}

h2{
    color:#38bdf8;
    margin-bottom:15px;
}

p{
    margin-bottom:30px;
    color:#cbd5e1;
}

.btn{
    background:#2563eb;
    color:#fff;
    text-decoration:none;
    padding:12px 28px;
    border-radius:8px;
}

.btn:hover{
    background:#1d4ed8;
}